@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 247 249;
    --foreground: 17 24 39;
    --card: 255 255 255;
    --card-foreground: 17 24 39;
    --popover: 255 255 255;
    --popover-foreground: 17 24 39;
    --primary: 225 29 72;
    --primary-foreground: 255 255 255;
    --muted: 239 241 245;
    --muted-foreground: 107 114 128;
    --border: 229 231 235;
    --input: 226 232 240;
    --ring: 251 113 133;
    --radius: 1rem;
    --destructive: 190 18 60;
    --destructive-foreground: 255 255 255;
    --success: 34 197 94;
    --warning: 245 158 11;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-[rgb(var(--background)/1)] text-[rgb(var(--foreground)/1)];
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
  }
}
